:root {
  --theme: rgb(0, 117, 111);
}
* {
  margin: 0;
  padding: 0;
  overflow-anchor: none;
}
html {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}
/* HEADER */
header {
  width: 100%;
  background-color: darkgray;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  top: 0px;
  z-index: 3;
  height: 60px;
}
header h1 {
  width: 100%;
}
header .menu-icon {
  display: none;
}
nav {
  width: 100%;
  font-weight: bold;
  background: darkgray;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  display: inline;
  padding: 5px;
}
nav a {
  color: white;
  text-decoration: none;
}
.active,
.active a {
  background-color: white;
  color: black;
}
.click a {
  color: darkgray;
  font-weight: normal;
}
/* WORKFLOW */
#bc-box {
  display: none;
  position: fixed;
  top: 0px;
  justify-content: center;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 5;
  user-select: none;
}
#bc-target {
  margin-top: 50px;
}
i {
  margin: 10px;
}
#bc-box img {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.instructions {
  margin: 20px 0 10px 0;
  height: 200px;
  text-align: center;
  overflow: scroll;
}
.instructions h4 {
  padding-top: 20px;
}
.grid-container {
  display: grid;
  grid-template: 1fr 1fr / 3fr 2fr;
  gap: 10px;
}
.option {
  color: var(--theme);
  font-weight: bold;
  background-color: lightgray;
  box-shadow: 0 0 10px black inset;
  border-radius: 20px;
  font-size: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.c {
  grid-row: 1 / span 2;
}
@keyframes shake {
  10% {
    transform: translate(5px, 0px);
  }
  20% {
    transform: translate(-5px, 0px);
  }
  30% {
    transform: translate(5px, 0px);
  }
  40% {
    transform: translate(-5px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
}
/* PHONEBOOK */
.add-pharm-button-container {
  text-align: center;
  padding: 20px;
}
.add-pharm-button-container button {
  padding: 10px;
  font-weight: bolder;
  color: var(--theme);
}
.form-element {
  margin: 20px 10px;
}
label {
  width: 30vw;
  display: inline-block;
  text-align: right;
  color: var(--theme);
}
form h6 {
  color: var(--theme);
  margin-left: 33vw;
}
input,
select {
  margin-left: 2vw;
  width: 50vw;
  padding: 5px;
  font-size: 1rem;
}
.form-buttons {
  display: flex;
  justify-content: space-evenly;
}
.form-buttons button {
  padding: 10px;
  color: var(--theme);
  font-weight: bolder;
}
.pharms {
  display: flex;
  justify-content: space-between;
  background-color: var(--theme);
  color: white;
}
.pharms div {
  padding: 10px;
}
.selected {
  background-color: white;
  color: var(--theme);
}
.pharm-info {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.top-row p {
  border: none;
}
.headers {
  margin: 10px 0px 0px 0px;
  border-bottom: black solid 3px;
  width: 100vw;
}
#phone-list li {
  text-align: center;
  border-bottom: black 2px solid;
  white-space: nowrap;
}
.info-item {
  padding: 10px 5px;
}
.pharm-name {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}
.pharm-address {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
}
.pharm-city {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}
.phone-number {
  display: none;
  font-size: 1.5rem;
  color: var(--theme);
  padding: 5px 0 10px 0;
}
.phone-instructions {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: var(--theme);
}
.open {
  display: none;
}
.icon {
  font-size: 1.3rem;
  margin: auto 0px auto 5px;
}
